body{
  background-image:url(./backgr.jpg);
}
header{
  width: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_hr{
  height: 320px;
  display: flex;
}

hr{
  margin-top: 0;
  background-color: black;
  border: none;
  margin-left: 10px;
}

hr:nth-child(odd){
  width: 2px;
  height: 30px;
}

hr:nth-child(even){
  width: 2px;
  height: 10px;
}

h1 {
  position: absolute;
  font-size: 200px;
  top: -10%;
}

.author {
  height: 600px;
}

.author h1{
font-family: RUSBoycott;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 74px;
text-transform: uppercase;
position: absolute;
width: 225px;
height: 57px;
left: 29px;
}

.biography h2{
  width: 152px;
  height: 46px;
  font-family: RUSBoycott;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 46px;
  text-transform: uppercase;
}

.artist h2 {
width: 126px;
height: 37px;
left: 32px;
top: 1731px;
font-family: RUSBoycott;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
text-transform: uppercase;
}

.artist p{
height: 220px;
font-family: PT Sans Narrow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
}
