@import 'reset.css';
@import 'header.css';
@import 'author.css';
@import 'works.css';
@import 'facts.css';
@import 'aboutus.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@font-face {
  font-family: "RUSBoycott";
  src: url(../8953.ttf);
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 auto;  
}
h2, h3, h4, h5 {
  font-family: "RUSBoycott";
  text-transform: uppercase;
}
